untuk mengerjakan challenge pada modul ini:
1. fork repository ini kedalam akun github masing-masing (format nama repo: **NIM_Modul-xx**, contoh: *I0320017_Modul-02*)
2. clone repository hasil fork kedalam local masing-masing
3. pelajari dan modifikasi file ini (playground.ipynb)
4. run cell code yang telah dimodifikasi
4. commit dan push hasil modifikasi ke repository hasil fork

---

**# untuk mengerjakan challenge ganti ___ dengan syntax yang sesuai**

## Input

In [28]:
nama = input("Masukkan nama: ")
print("Halo, " + nama)

Halo, Yulia

In [29]:
# challenge 1
# masukkan id pada input sesuai dengan tipe data yang sudah ditentukan
id = int(input("Masukkan ID: "))
print("ID: " + str(id))

ID: 322131

## Tipe Data

In [30]:
nama = "POSI"
tahun = 2020
print(type(nama))
print(type(tahun))
print(type("TI UNS"))

<class 'str'>
<class 'int'>
<class 'str'>

### 1. Numerik

#### a. Integer

In [ ]:
a = 10
b = 5
print(a + b)
print(a - b)

15
5

In [ ]:
x = 10
user = int(input("Enter a number: "))

while user != x:
    if user > x:
        print("Too high")
    elif user < x:
        print("Too low")
    else:
        print("Number correct")
    user = int(input("Enter a number: "))

In [21]:
# challenge 2
x = 10
y = 3

command = int(input("Masukkan command: "))
if command == 1:
    print(f"{x} pangkat {y} = {x ** y}") # output seharusnya 1000
else:
    print("Command tidak dikenali")

10 pangkat 3 = 1000

#### b. Float

In [ ]:
mie_iblis = 13.5
udang_keju = 13

print("harga total adalah {} ribu rupiah".format((mie_iblis + udang_keju)*1000))

harga total adalah 26500.0 ribu rupiah

In [ ]:
x = 121.5689
# dibulatkan ke atas
print("x ceil = {:.2f}".format(x))

x ceil = 121.57

In [1]:
# challenge 3
# modifikasi value x dan y
x = 120.5
y = 120.5
print(f"x + y = {x + y}") # x + y should be 241

x + y = 241.0

#### c. Complex

In [ ]:
z = 2+3j
print(z.real)
print(z.imag)

2.0
3.0

### 2. String

In [ ]:
artist = "Arctic Monkeys"
album = "AM"
year = 2013
print(f"{artist} released {album} in {year}")

Arctic Monkeys released AM in 2013

In [ ]:
password = "imperiale2022"

pwd = input("Enter password: ")
if pwd.lower() == password:
    print("Access granted")
else:
    print("Access denied")

Access granted

### 3. Sequence

#### a. List

In [ ]:
ini_list = [1, "dua", 3.0, "empat", "decimal", ["a", "b", "c"]]
print(ini_list[0])
print(ini_list[1:3])
print(ini_list[-1])
print(ini_list[5][1])

1
['dua', 3.0]
['a', 'b', 'c']
b

In [14]:
# challenge 4
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(list2[-2::-2]) # output seharusnya [9, 7, 5, 3, 1]

[9, 7, 5, 3, 1]

In [12]:
# challenge 5
ls = ["John", 25, True, 3.14, "apple"]
ls.insert(2, "orange")
print(ls) # Output: ['John', 25, 'orange', True, 3.14, 'apple']

['John', 25, 'orange', True, 3.14, 'apple']

#### b. Tuple

In [ ]:
ini_tuple = (1, "dua", 3.0, "empat", "decimal", ["a", "b", "c"], 1)
print(ini_tuple[0])
print(ini_tuple.count(1))
print(ini_tuple.index("empat"))

1
2
3

### 4. Dictionary

In [1]:
employee = {
    'name': 'Erik',
    'age': 53,
    'address': 'Jl. Mangkunegaran 10',
    'hobbies': ['reading', 'swimming', 'travelling'],
    'is_married': True,
    'children': {
    'son': 'Ethan',
    'daughter': 'Emily'
    }
}

In [2]:
# challenge 6
# ubah value dari key 'name' menjadi 'Samuel'
employee['name'] = "Samuel"
print(employee['name'])

Samuel

In [16]:
# challenge 7
# ubah value dari key 'age' menjadi 20 berdasatkan input user
employee = {
    'name': 'Erik',
    'age': 53,
    'address': 'Jl. Mangkunegaran 10',
    'hobbies': ['reading', 'swimming', 'travelling'],
    'is_married': True,
    'children': {
    'son': 'Ethan',
    'daughter': 'Emily'
    }
}

employee['age'] = int(input("Please type your age :"))
print(employee['age'])

18

In [6]:
SET1 = {8,9,7,3,2,0,1,6,4,5}
print(SET1)
SET1.add(8)
print(SET1)
SET1.add(-1)
print(SET1)
SET1.add('TES')
print(SET1)
SET1.add('TAS')
print(SET1)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, -1}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'TES', -1}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'TAS', 'TES', -1}

In [2]:
#Boolean

boolean1 = 10<6*2
print(boolean1)

boolean2 = "120" >= "120"
print(boolean2)

True
True

In [8]:
#Binary

biner1 = bin(1)
print(biner1)
biner2 = bin(2)
print(biner2)
biner3 = bin(3)
print(biner3)
biner4 = bin(4)
print(biner4)
biner5 = bin(5)
print(biner5)
biner6 = bin(6)
print(biner6)
biner7 = bin(7)
print(biner7)

0b1
0b10
0b11
0b100
0b101
0b110
0b111

In [13]:
#konversi celcius ke farenheit
suhu = int(input("Masukkan suhu dalam celcius :"))
farenheit = (9/5) * suhu + 32
print(f"suhu dalam farenheit adalah : {farenheit} F")

suhu dalam farenheit adalah : 89.6 F

In [21]:
#konversi kelvin ke farenheit integer version
suhu = int(input("Masukkan suhu dalam kelvin :"))
farenheit = (9/5) * (suhu-273) + 32
print(f"suhu dalam farenheit adalah : {farenheit} F")

suhu dalam farenheit adalah : -401.8 F

In [20]:
#konversi kelvin ke farenheit float version
suhu = float(input("Masukkan suhu dalam kelvin :"))
farenheit = (9/5) * (suhu-273) + 32
print(f"suhu dalam farenheit adalah : {farenheit} F")

suhu dalam farenheit adalah : -401.8 F

In [19]:
imperiale2022 = {
    "KelasA" : {
        "Mahasiswa1" : {
            "Nama" : "Adz-Dzikra",
            "Asal" : "Klaten",
        },
        "Mahasiswa2" : {
            "Nama" : "Chanisa",
            "Asal" : "Boyolali",
        },
        "Mahasiswa3" : {
            "Nama" : "Cinta",
            "Asal" : "Karanganyar"
        },
    },
    "KelasB" : {
        "Mahasiswa1" : {
            "Nama" : "Fatihah",
            "Asal" : "Surakarta",
        },
        "Mahasiswa2" : {
            "Nama" : "Devi",
            "Asal" : "Sragen",
        },
        "Mahasiswa3" : {
            "Nama" : "Karin",
            "Asal" : "Medan",
        },
    },
    "KelasC" : {
        "Mahasiswa1" : {
            "Nama" : "Novita",
            "Asal" : "Sukabumi",
        },
        "Mahasiswa2" : {
            "Nama" : "Mira",
            "Asal" : "Merauke",
        },
        "Mahasiswa3" : {
            "Nama" : "Nadya",
            "Asal" : "Sukoharjo",
        },
    },
    "KelasD" : {
        "Mahasiswa1" : {
            "Nama" : "Ara",
            "Asal" : "Batam",
        },
        "Mahasiswa2" : {
            "Nama" : "Tara",
            "Asal" : "Jakarta Selatan",
        },
        "Mahasiswa3" : {
            "Nama" : "Dela",
            "Asal" : "Tangerang",
        },
    },
}
print(imperiale2022["KelasA"])
print(imperiale2022["KelasB"])
print(imperiale2022["KelasC"])
print(imperiale2022["KelasD"])

{'Mahasiswa1': {'Nama': 'Adz-Dzikra', 'Asal': 'Klaten'}, 'Mahasiswa2': {'Nama': 'Chanisa', 'Asal': 'Boyolali'}, 'Mahasiswa3': {'Nama': 'Cinta', 'Asal': 'Karanganyar'}}
{'Mahasiswa1': {'Nama': 'Fatihah', 'Asal': 'Surakarta'}, 'Mahasiswa2': {'Nama': 'Devi', 'Asal': 'Sragen'}, 'Mahasiswa3': {'Nama': 'Karin', 'Asal': 'Medan'}}
{'Mahasiswa1': {'Nama': 'Novita', 'Asal': 'Sukabumi'}, 'Mahasiswa2': {'Nama': 'Mira', 'Asal': 'Merauke'}, 'Mahasiswa3': {'Nama': 'Nadya', 'Asal': 'Sukoharjo'}}
{'Mahasiswa1': {'Nama': 'Ara', 'Asal': 'Batam'}, 'Mahasiswa2': {'Nama': 'Tara', 'Asal': 'Jakarta Selatan'}, 'Mahasiswa3': {'Nama': 'Dela', 'Asal': 'Tangerang'}}